@import "w3.css"; /* w3.css bootstrap */
@import "./myCollection/carousel.css"; /* Carousel.css by @keyframes*/

#root {
  margin: auto;
}
.App {
  font-family: "formata";
}

/* if light mode show dark text */
.App-light {
  color: #e5e3e8;
}

/* if dark mode show white text */
.App-dark {
  color: #e5e3e8;
}
