/* view container */
#webkit-filter > html,
.deckView {
  overscroll-behavior-y: contain;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* background element */
.deckView {
  background-image: url("../../assets/TableBack.png");
  width: 100vw;
  height: 100vh;
}

/* card container element */
.deckView > div {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
}

/* Card Image element */
.deckView > div > div {
  display: fit-content;
  touch-action: none;
  background-size: auto 80%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  will-change: transform;
  -webkit-filter: drop-shadow(-5px -5px 5px #000);
  filter: drop-shadow(-5px -5px 5px #000);
  cursor: grab;
}
